<ul class="no-bullets social-icons {{ additional_classes }}">
  
  {%- if settings.social_twitter_link != blank -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ settings.social_twitter_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
        <svg class="icon icon-twitter" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 20 20" aria-hidden="true" focusable="false" role="presentation">
          <path d="M15.2213 3H17.9803L11.9224 9.78967L19 19H13.4459L9.0973 13.403L4.11896 19H1.35988L7.77774 11.738L1 3H6.6921L10.6208 8.11292L15.2213 3ZM14.2556 17.4059H15.7851L5.88837 4.53506H4.24492L14.2556 17.4059Z" fill="currentColor"></path>
        </svg>
        <span class="icon__fallback-text">Twitter</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_facebook_link != blank -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ settings.social_facebook_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
        <svg class="icon icon-facebook" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation">
          <path d="M6.02103 15.3333L6.00001 8.66663H3.33334V5.99996H6.00001V4.33329C6.00001 1.85903 7.53222 0.666626 9.73944 0.666626C10.7967 0.666626 11.7054 0.745339 11.9702 0.780526V3.36628L10.4394 3.36697C9.23898 3.36697 9.00655 3.93739 9.00655 4.77443V5.99996H12.5L11.1667 8.66663H9.00655V15.3333H6.02103Z" fill="currentColor"></path>
        </svg>
        <span class="icon__fallback-text">Facebook</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_pinterest_link != blank -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ settings.social_pinterest_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
        <svg class="icon icon-pinterest" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation">
          <path d="M8 0C3.6 0 0 3.6 0 8C0 11.4 2.13333 14.2667 5.06667 15.4667C5 14.8667 4.93333 13.8667 5.06667 13.2C5.2 12.6 6 9.2 6 9.2C6 9.2 5.8 8.66667 5.8 8C5.8 6.86667 6.46667 6.06667 7.26667 6.06667C7.93333 6.06667 8.26667 6.6 8.26667 7.2C8.26667 7.86667 7.8 8.93333 7.6 9.86667C7.4 10.6667 8 11.3333 8.8 11.3333C10.2 11.3333 11.3333 9.86667 11.3333 7.66667C11.3333 5.73333 9.93333 4.4 8 4.4C5.73333 4.4 4.4 6.13333 4.4 7.86667C4.4 8.53333 4.66667 9.26667 5 9.66667C5.06667 9.73333 5.06667 9.8 5.06667 9.86667C5 10.1333 4.86667 10.6667 4.86667 10.8C4.8 10.9333 4.73333 11 4.6 10.9333C3.6 10.4667 3 9 3 7.86667C3 5.33333 4.86667 3 8.26667 3C11.0667 3 13.2 5 13.2 7.6C13.2 10.3333 11.4667 12.6 9.06667 12.6C8.26667 12.6 7.46667 12.2 7.2 11.6667C7.2 11.6667 6.8 13.2 6.73333 13.6C6.53333 14.2667 6.06667 15.1333 5.73333 15.6667C6.4 15.8667 7.2 16 8 16C12.4 16 16 12.4 16 8C16 3.6 12.4 0 8 0Z" fill="currentColor"></path>
        </svg>
        <span class="icon__fallback-text">Pinterest</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
        <svg class="icon icon-instagram" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation">
          <path d="M7.99999 1.98796C9.95799 1.98796 10.19 1.99529 10.9633 2.03063C11.4282 2.03604 11.8888 2.12151 12.3247 2.28329C12.6433 2.4007 12.9315 2.5882 13.168 2.83196C13.4117 3.06842 13.5993 3.35663 13.7167 3.67529C13.8784 4.11119 13.9639 4.57171 13.9693 5.03663C14.0047 5.80996 14.012 6.04196 14.012 7.99996C14.012 9.95796 14.0047 10.19 13.9693 10.9633C13.9639 11.4282 13.8784 11.8887 13.7167 12.3246C13.5946 12.6409 13.4077 12.9282 13.168 13.1679C12.9282 13.4077 12.641 13.5946 12.3247 13.7166C11.8888 13.8784 11.4282 13.9639 10.9633 13.9693C10.19 14.0046 9.95799 14.012 7.99999 14.012C6.04199 14.012 5.80999 14.0046 5.03666 13.9693C4.57174 13.9639 4.11122 13.8784 3.67532 13.7166C3.35666 13.5992 3.06845 13.4117 2.83199 13.168C2.58823 12.9315 2.40073 12.6433 2.28332 12.3246C2.12154 11.8887 2.03607 11.4282 2.03066 10.9633C1.99532 10.19 1.98799 9.95796 1.98799 7.99996C1.98799 6.04196 1.99532 5.80996 2.03066 5.03663C2.03607 4.57171 2.12154 4.11119 2.28332 3.67529C2.40073 3.35663 2.58823 3.06842 2.83199 2.83196C3.06845 2.5882 3.35666 2.4007 3.67532 2.28329C4.11122 2.12151 4.57174 2.03604 5.03666 2.03063C5.80999 1.99529 6.04199 1.98796 7.99999 1.98796ZM7.99999 0.666626C6.00866 0.666626 5.75866 0.675293 4.97666 0.710626C4.36838 0.723197 3.76659 0.838371 3.19666 1.05129C2.70902 1.24007 2.26626 1.52875 1.8968 1.89879C1.52734 2.26882 1.23935 2.71203 1.05132 3.19996C0.838401 3.76989 0.723227 4.37168 0.710656 4.97996C0.675323 5.75863 0.666656 6.00863 0.666656 7.99996C0.666656 9.99129 0.675323 10.2413 0.710656 11.0233C0.723227 11.6316 0.838401 12.2334 1.05132 12.8033C1.2401 13.2909 1.52878 13.7337 1.89882 14.1032C2.26885 14.4726 2.71206 14.7606 3.19999 14.9486C3.76992 15.1615 4.37171 15.2767 4.97999 15.2893C5.75866 15.3246 6.00866 15.3333 7.99999 15.3333C9.99132 15.3333 10.2413 15.3246 11.0233 15.2893C11.6316 15.2767 12.2334 15.1615 12.8033 14.9486C13.291 14.7598 13.7337 14.4712 14.1032 14.1011C14.4726 13.7311 14.7606 13.2879 14.9487 12.8C15.1616 12.23 15.2768 11.6282 15.2893 11.02C15.3247 10.2413 15.3333 9.99129 15.3333 7.99996C15.3333 6.00863 15.3247 5.75863 15.2893 4.97663C15.2768 4.36835 15.1616 3.76656 14.9487 3.19663C14.7599 2.70899 14.4712 2.26623 14.1012 1.89677C13.7311 1.52731 13.2879 1.23932 12.8 1.05129C12.2301 0.838371 11.6283 0.723197 11.02 0.710626C10.2413 0.675293 9.99132 0.666626 7.99999 0.666626Z" fill="currentColor"></path>
          <path d="M7.99998 4.23401C7.25514 4.23401 6.52702 4.45488 5.9077 4.86869C5.28839 5.28251 4.80569 5.87068 4.52065 6.55882C4.23561 7.24697 4.16103 8.00419 4.30634 8.73472C4.45165 9.46525 4.81033 10.1363 5.33702 10.663C5.8637 11.1897 6.53474 11.5483 7.26527 11.6936C7.9958 11.839 8.75302 11.7644 9.44117 11.4793C10.1293 11.1943 10.7175 10.7116 11.1313 10.0923C11.5451 9.47297 11.766 8.74485 11.766 8.00001C11.766 7.0012 11.3692 6.04331 10.6629 5.33705C9.95668 4.63078 8.99879 4.23401 7.99998 4.23401V4.23401ZM7.99998 10.4447C7.51647 10.4447 7.04382 10.3013 6.6418 10.0327C6.23977 9.76405 5.92643 9.38225 5.7414 8.93554C5.55637 8.48884 5.50796 7.9973 5.60229 7.52308C5.69661 7.04886 5.92945 6.61326 6.27134 6.27137C6.61323 5.92948 7.04883 5.69664 7.52305 5.60232C7.99727 5.50799 8.48881 5.5564 8.93551 5.74143C9.38222 5.92646 9.76402 6.2398 10.0326 6.64182C10.3013 7.04385 10.4446 7.5165 10.4446 8.00001C10.4446 8.64837 10.1871 9.27019 9.72862 9.72865C9.27016 10.1871 8.64835 10.4447 7.99998 10.4447V10.4447Z" fill="currentColor"></path>
          <path d="M11.9147 4.96532C12.4007 4.96532 12.7947 4.57133 12.7947 4.08532C12.7947 3.59931 12.4007 3.20532 11.9147 3.20532C11.4287 3.20532 11.0347 3.59931 11.0347 4.08532C11.0347 4.57133 11.4287 4.96532 11.9147 4.96532Z" fill="currentColor"></path>
        </svg>
        <span class="icon__fallback-text">Instagram</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tumblr_link != blank -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ settings.social_tumblr_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
        <svg class="icon icon-tumblr" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation">
          <path d="M10.1129 11.191V10.0941C9.75821 10.3323 9.41243 10.4497 9.07643 10.4497C8.91821 10.4497 8.74132 10.399 8.5431 10.3021C8.42398 10.2221 8.35554 10.1341 8.33509 10.0345C8.27643 9.91632 8.24621 9.65943 8.24621 9.26388V7.51632H9.87643V6.42032H8.24621V4.67188H7.29865C7.21954 5.08699 7.14043 5.38299 7.06132 5.56076C6.96354 5.77765 6.80532 5.97588 6.58754 6.15276C6.36976 6.33143 6.1431 6.45943 5.90576 6.53854V7.51721H6.64621V9.91721C6.64621 10.1937 6.68532 10.4292 6.76532 10.6274C6.82398 10.7857 6.94221 10.943 7.12087 11.1012C7.25776 11.2399 7.45598 11.3581 7.71287 11.4568C8.02843 11.5368 8.30487 11.575 8.5431 11.575C8.81954 11.575 9.07643 11.5457 9.31287 11.4861C9.59021 11.4265 9.85687 11.3279 10.1129 11.191Z" fill="currentColor"></path>
          <path d="M8 16C3.58844 16 0 12.4116 0 8C0 3.58844 3.58844 0 8 0C12.4116 0 16 3.58844 16 8C16 12.4116 12.4116 16 8 16ZM8 1.77778C4.56978 1.77778 1.77778 4.56978 1.77778 8C1.77778 11.4302 4.56978 14.2222 8 14.2222C11.4302 14.2222 14.2222 11.4302 14.2222 8C14.2222 4.56978 11.4302 1.77778 8 1.77778Z" fill="currentColor"></path>
        </svg>
        <span class="icon__fallback-text">Tumblr</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_youtube_link != blank -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ settings.social_youtube_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
        <svg class="icon icon-youtube" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation">
          <path d="M15.9963 5.6389C16.0323 4.1584 15.8047 2.68898 15.3349 1.36707C15.0161 0.824662 14.5737 0.45862 14.0848 0.33273C12.0625 0.0715852 10.0317 -0.0354495 8.00136 0.0120845C5.97838 -0.037607 3.95498 0.0659739 1.93973 0.322387C1.54131 0.425528 1.17259 0.691484 0.878584 1.0878C0.224452 1.9463 0.15177 3.41507 0.0790889 4.65628C-0.026363 6.88794 -0.026363 9.12715 0.0790889 11.3588C0.100116 12.0574 0.173207 12.7509 0.297133 13.4275C0.384769 13.9499 0.562073 14.4332 0.813171 14.8342C1.10918 15.2515 1.48648 15.5326 1.89612 15.641C3.46307 15.9162 5.04193 16.0303 6.62041 15.9823C9.16426 16.034 11.3956 15.9823 14.0339 15.6927C14.4536 15.591 14.8415 15.3095 15.1459 14.8859C15.3494 14.5962 15.5014 14.2416 15.5893 13.8516C15.8492 12.7165 15.9769 11.5286 15.9672 10.3348C15.9963 9.75558 15.9963 6.25951 15.9963 5.6389ZM6.35876 10.9554V4.55284L10.6615 7.76965C9.45499 8.72124 7.86327 9.79696 6.35876 10.9554Z" fill="currentColor"></path>
        </svg>
        <span class="icon__fallback-text">YouTube</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tiktok_link != blank -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ settings.social_tiktok_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'TikTok' }}">
        <svg class="icon icon-tiktok" fill="currentColor" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation">
          <path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3V0Z"></path>
        </svg>
        <span class="icon__fallback-text">TikTok</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_linkedin_link != blank -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ settings.social_linkedin_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'LinkedIn' }}">
        <svg class="icon icon-linkedin" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="16" height="16" aria-hidden="true" focusable="false" role="presentation">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M6.94 5a2 2 0 1 1-4-.002 2 2 0 0 1 4 .002zM7 8.48H3V21h4V8.48zm6.32 0H9.34V21h3.94v-6.57c0-3.66 4.77-4 4.77 0V21H22v-7.93c0-6.17-7.06-5.94-8.72-2.91l.04-1.68z" fill-rule="nonzero"></path>
        </svg>
        <span class="icon__fallback-text">LinkedIn</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_snapchat_link != blank -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ settings.social_snapchat_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-snapchat" viewBox="0 0 56.693 56.693"><path d="M28.66 51.683c-.128 0-.254-.004-.38-.01a3.24 3.24 0 0 1-.248.01c-2.944 0-4.834-1.336-6.661-2.628-1.262-.892-2.453-1.733-3.856-1.967a12.448 12.448 0 0 0-2.024-.17c-1.186 0-2.122.182-2.806.316-.415.081-.773.151-1.045.151-.285 0-.593-.061-.727-.519-.116-.397-.2-.78-.281-1.152-.209-.956-.357-1.544-.758-1.605-4.67-.722-6.006-1.705-6.304-2.403a.898.898 0 0 1-.072-.299.526.526 0 0 1 .44-.548c7.178-1.182 10.397-8.519 10.53-8.83l.012-.026c.44-.89.526-1.663.257-2.297-.493-1.16-2.1-1.67-3.163-2.008-.26-.082-.507-.16-.701-.237-2.123-.84-2.3-1.7-2.216-2.14.142-.747 1.142-1.268 1.95-1.268.222 0 .417.039.581.116.955.447 1.815.673 2.558.673 1.025 0 1.473-.43 1.528-.487-.026-.486-.059-.993-.092-1.517-.213-3.394-.478-7.61.595-10.018 3.218-7.215 10.043-7.776 12.057-7.776l.884-.009h.119c2.02 0 8.858.562 12.078 7.78 1.074 2.41.808 6.63.594 10.021l-.009.147c-.03.473-.058.932-.082 1.371.051.052.463.449 1.393.485h.001c.707-.028 1.52-.253 2.41-.67.262-.122.552-.148.75-.148.3 0 .607.058.86.164l.016.007c.721.255 1.193.76 1.204 1.289.009.497-.37 1.244-2.233 1.98-.193.076-.44.154-.7.237-1.065.338-2.671.848-3.164 2.008-.269.633-.183 1.406.257 2.297l.011.026c.134.311 3.35 7.646 10.532 8.83.265.043.454.28.44.548a.884.884 0 0 1-.074.3c-.296.693-1.632 1.675-6.303 2.397-.381.059-.53.556-.757 1.599-.083.38-.167.752-.282 1.144-.1.34-.312.5-.668.5h-.058c-.248 0-.6-.045-1.046-.133-.79-.154-1.677-.297-2.805-.297-.659 0-1.34.058-2.026.171-1.401.234-2.591 1.074-3.85 1.964-1.831 1.295-3.72 2.63-6.666 2.63z"/></svg>
        <span class="icon__fallback-text">Snapchat</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_vimeo_link != blank -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ settings.social_vimeo_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-vimeo" viewBox="0 0 32 32"><path fill="#444" d="M.343 10.902l1.438 1.926q1.999-1.487 2.413-1.487 1.584 0 2.949 5.046l1.194 4.521q.828 3.132 1.292 4.814 1.804 5.046 4.534 5.046 4.339 0 10.53-8.336 6.069-7.922 6.288-12.528v-.536q0-5.606-4.485-5.752h-.341q-6.02 0-8.287 7.385 1.316-.561 2.291-.561 2.072 0 2.072 2.145 0 .268-.024.561-.146 1.731-2.047 4.729-1.95 3.144-2.901 3.144-1.267 0-2.242-4.777-.293-1.121-1.243-7.239-.414-2.632-1.536-3.9-.975-1.097-2.437-1.121-.195 0-.414.024-1.536.146-4.558 2.803-1.56 1.462-4.485 4.095z"/></svg>
        <span class="icon__fallback-text">Vimeo</span>
      </a>
    </li>
  {%- endif -%}
</ul>
