<div class="single-page-width-banner-section-{{ section.id }} wow bounceInLeft">
  <div class="single-page-width-banner-section--wrapper page-width">
    <h2 class="single-page-width-banner-section-title custom-txt-bold appear-delay{% cycle '','-1','-2','-3','-4' %}"></h2>
    {% assign block = section.blocks[0] %}
    {%  style %}
      .single-page-width-banner-section-{{ section.id }} .single-page-width-banner-section--content {
          background-image: url('https://cdn.shopify.com/s/files/1/1001/2383/6697/files/p-1-no-text.jpg?v=1784789888');
          background-size: cover;
          background-position: center;
          padding: 3.5em 4em;
          border-radius: 1em;
          display: flex;
          align-items: center;
      }
      .single-page-width-banner-section-{{ section.id }} .single-page-width-banner-section--content--left-btn {
          background-image: url({{ block.settings.btn_bg | image_url: width: 300, format: 'webp' }});
      }
      @media screen and (max-width: 768px) {
          .single-page-width-banner-section-{{ section.id }} .single-page-width-banner-section--content {
              background-image: url('https://cdn.shopify.com/s/files/1/1001/2383/6697/files/m-1-no-text.jpg?v=1784789888');
          }
      }
    {% endstyle %}
    <div class="single-page-width-banner-section--content">
        <div class="single-page-width-banner-section--content--left">
          <h3 class="single-page-width-banner-section--content--left-title custom-txt-oxanium appear-delay{% cycle '','-1','-2','-3','-4' %}">
            {{ block.settings.banner_title }}
          </h3>
          <p class="single-page-width-banner-section--content--left-subtitle appear-delay{% cycle '','-1','-2','-3','-4' %}">
            {{ block.settings.sub_title }}
          </p>
          {% if block.settings.btn_label != blank %}
            <a href="{{ block.settings.btn_link }}" class="single-page-width-banner-section--content--left-btn appear-delay{% cycle '','-1','-2','-3','-4' %}">
              {{ block.settings.btn_label }}
              <span>→</span>
            </a>
          {% endif %}
        </div>
    </div>
  </div>
</div>
{% style %}
  .single-page-width-banner-section-{{ section.id }} {
      padding: 4em 0;
      background-color: #fff;
  }
  .single-page-width-banner-section-{{ section.id }} .single-page-width-banner-section--content {
      width: 100%;
      height: auto;
      aspect-ratio: 2047 / 639;
      box-sizing: border-box;
  }
  .single-page-width-banner-section-{{ section.id }} .single-page-width-banner-section--content--left {
      width: 55%;
      padding-right: 2em;
  }
  .single-page-width-banner-section-{{ section.id }} .single-page-width-banner-section--content--left-title {
      font-size: 4.5em;
      font-weight: 900;
      font-stretch: condensed;
      line-height: 0.9;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      white-space: nowrap;
      transform: scaleX(0.8);
      transform-origin: left top;
      margin-bottom: 0.25em;
  }
  .single-page-width-banner-section-{{ section.id }} .single-page-width-banner-section--content--left-subtitle {
      max-width: 20em;
      font-size: 1em;
      font-weight: 400;
      line-height: 1.35;
      margin-bottom: 1.7em;
      margin-left: 0.2em;
  }
  .single-page-width-banner-section-{{ section.id }} .single-page-width-banner-section--content--left-btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 0.75em;
      min-width: 14em;
      padding: 0.9em 1.2em;
      letter-spacing: 0.05em;
      color: #fff;
      font-size: 1em;
      text-decoration: none;
      background: #1f1f1f;
      border-radius: 0.25em;
  }
  .single-page-width-banner-section-{{ section.id }} .single-page-width-banner-section--content--left-btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: center;
  }
  .single-page-width-banner-section-{{ section.id }} .single-page-width-banner-section--content--left-btn span {
      height: 1.1em;
      line-height: 100%;
  }
    @media screen and (max-width: 768px) {
      .single-page-width-banner-section-{{ section.id }} {
        padding: 2em 0;
        font-size: 1em;
      }
      .single-page-width-banner-section-{{ section.id }} .single-page-width-banner-section--content {
        height: auto;
        aspect-ratio: 1131 / 1391;
        padding: 3.5em 3.5em;
        align-items: flex-start;
      }
      .single-page-width-banner-section-{{ section.id }} .single-page-width-banner-section--content--left {
        width: 100%;
        padding-right: 0;
      }
      .single-page-width-banner-section-{{ section.id }} .single-page-width-banner-section--content--left-title {
        font-size: 3.8em;
        line-height: 0.9;
        margin-bottom: 0.35em;
      }
      .single-page-width-banner-section-{{ section.id }} .single-page-width-banner-section--content--left-subtitle {
        font-size: 0.8em;
        line-height: 1.35;
        margin-bottom: 2.5em;
        margin-left: 0.2em;
        max-width: 20em;
        white-space: nowrap;
      }
      .single-page-width-banner-section-{{ section.id }} .single-page-width-banner-section--content--left-btn {
        gap: 0.75em;
        min-width: 12em;
        padding: 0.8em 1em;
        font-size: 0.7em;
      }
  }
  
  @media screen and (max-width: 580px) {
      .single-page-width-banner-section-{{ section.id }} {
        padding: 2em 0;
        font-size: 1em;
      }
      .single-page-width-banner-section-{{ section.id }} .single-page-width-banner-section--content {
        height: auto;
        aspect-ratio: 1131 / 1391;
        padding: 3em 2.5em;
        align-items: flex-start;
      }
      .single-page-width-banner-section-{{ section.id }} .single-page-width-banner-section--content--left {
        width: 100%;
        padding-right: 0;
      }
      .single-page-width-banner-section-{{ section.id }} .single-page-width-banner-section--content--left-title {
        font-size: 3em;
        line-height: 0.9;
        margin-bottom: 0.25em;
      }
      .single-page-width-banner-section-{{ section.id }} .single-page-width-banner-section--content--left-subtitle {
        font-size: 0.6em;
        line-height: 1.35;
        margin-bottom: 1.4em;
        margin-left: 0.2em;
        max-width: 20em;
        white-space: nowrap;
      }
      .single-page-width-banner-section-{{ section.id }} .single-page-width-banner-section--content--left-btn {
        gap: 0.75em;
        min-width: 12em;
        padding: 0.8em 1em;
        font-size: 0.5em;
      }
  }
  @media screen and (max-width: 430px) {
      .single-page-width-banner-section-{{ section.id }} .single-page-width-banner-section--content {
        padding: 2em 2em;
      }
      .single-page-width-banner-section-{{ section.id }} .single-page-width-banner-section--content--left-title {
        font-size: 2.2em;
        line-height: 0.9;
        margin-bottom: 0.25em;
      }
      .single-page-width-banner-section-{{ section.id }} .single-page-width-banner-section--content--left-subtitle {
        font-size: 0.5em;
        max-width: 18em;
        white-space: nowrap;
      }
      .single-page-width-banner-section-{{ section.id }} .single-page-width-banner-section--content--left-btn {
        gap: 0.75em;
        min-width: 5em;
        padding: 0.8em 1em;
        font-size: 0.45em;
      }
      .single-page-width-banner-section-{{ section.id }} .single-page-width-banner-section--content--left-btn span {
        height: 1.37em;
        line-height: 100%;
      }
  }
{% endstyle %}

{% schema %}
{
  "name": "Single Page Width Banner",
  "class": "single-page-width-banner-section",
  "settings": [],
  "blocks": [
    {
      "type": "single_page_width_banner",
      "name": "Single Page Width Banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "banner",
          "label": "Banner Image"
        },
        {
          "type": "image_picker",
          "id": "m_banner",
          "label": "Mobile Banner Image"
        },
        {
          "type": "text",
          "id": "banner_title",
          "label": "Banner Title"
        },
        {
          "type": "text",
          "id": "sub_title",
          "label": "Sub Title"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button Link"
        },
        {
          "type": "image_picker",
          "id": "btn_bg",
          "label": "Button Background"
        },
        {
          "type": "text",
          "id": "btn_label",
          "label": "Button Label"
        }
      ],
      "limit": 1
    }
  ],
  "presets": [
    {
      "name": "Single Page Width Banner",
      "settings": {},
      "blocks": []
    }
  ]
}
{% endschema %}
